<LinkTo @route="application"><img class="d-flex self-center mt-3" src="/assets/callao.png" alt="callao"></LinkTo>

<LinkTo @route="search"><h1 class="d-flex justify-content-center mt-4 animated flash">Callao Films</h1></LinkTo>

{{outlet}}