<div class="row d-flex justify-content-center mt-3">
    <div class="col-md-6 p-3 mainb text-center">
        <label for="movfinder" class="animated fadeIn delay-1s">Search for a movie: </label>
        <input id="movfinder" type="text">
        <button class="animated fadeInRight delay-1s">Search</button>
    </div>
</div>

{{outlet}}